<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
  </head>
  <body>
    <header></header>
    <main>
      <%- include('_tweet', { tweet: tweet }); %>
    </main>
  </body>
</html>
