<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
  </head>
  <body>
    <header></header>
    <main>
      <h1>Twitter Clone Course</h1>
      <p>We're learning HTML!</p>
    </main>
  </body>
</html>

    
