<!DOCTYPE html>
<html>
  <header></header>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
  </head>
  <body>
    <h1>Twitter Clone Course</h1>
    <p>We're learning HTML!</p>
  </body>
</html>

    
