<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>Twitter clone</title>
  </head>
  <body>
    <header></header>
    <main>
      <form id="tweet-form" action="/tweets/create" method="POST">
        <input id="tweet-form-handle" type="text" name="handle" placeholder="DonkkaShane">
        <textarea id="tweet-form-body" name="body" placeholder="What's happening?"></textarea>
        <button id="tweet-form-button">Tweet</button>
      </form>
      <article class="tweet">
        <p><a href="https://twitter.com/DonkkaShane">@DonkkaShane</a>
        - <span class="light-grey">18 minutes ago</span></p>
        <p>I'm having a great time teaching the Twitter clone course!</p>
      </article>
    </main>
  </body>
</html>
